# Исключаем виртуальное окружение
venv/
.venv/

# Исключаем файлы IDE
.idea/
.vscode/

# Исключаем кэш Python
__pycache__/
*.pyc

# Исключаем файл с секретами!
.env

# Исключаем саму базу данных (она будет в volume)
partners.db
*.db