version: '3.8' # Версия синтаксиса

services:
  # Название нашего сервиса (может быть любым)
  partner-bot:
    # 1. Собрать образ из Dockerfile в текущей папке ('.')
    build: .
    # 2. Дать контейнеру понятное имя
    container_name: partner_bot
    # 3. Всегда перезапускать, если он "упал"
    restart: unless-stopped

    # 4. (ВАЖНО) "Пробросить" .env файл с хоста внутрь контейнера
    env_file:
      - .env
    ports:
      # "Связываем" порт 8080 внутри контейнера
      # с портом 8080 на 'localhost' вашего сервера
      - "127.0.0.1:8080:8080"
    # 5. (ВАЖНО) Подключить "постоянное хранилище" (volume)
    volumes:
      # Связываем "внешний" том 'bot_data' с папкой '/app/data' внутри контейнера,
      # где теперь будет "жить" наш 'partners.db'
      - bot_data:/app/data

# Объявляем наше "постоянное хранилище" (volume)
volumes:
  bot_data: